*.pyc
flask

# folders that contain input images
# code will be added to pull the relevant images from a separate DB
processing/segmentation/input/
processing/styletransfer/input/
processing/styletransfer/results/
