numpy==1.11.2
scipy==0.18.1
keras==1.2.0
tensorflow==0.12.1
http://effbot.org/media/downloads/Imaging-1.1.7.tar.gz
click==6.6
cycler==0.10.0
eventlet==0.19.0
Flask==0.12
greenlet==0.4.10
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8.1
MarkupSafe==0.23
matplotlib==1.5.3
olefile==0.43
pyparsing==2.1.9
python-dateutil==2.5.3
pytz==2016.7
requests==2.12.2
six==1.10.0
virtualenv==15.1.0
Werkzeug==0.11.15
